<mat-card fxLayout="row" fxLayoutAlign="end stretch" *ngIf="competence">
      <mat-tab-group color="warn" mat-align-tabs="center">
        <mat-tab label="{{competence.niveaux[0]?.libelle}}">
          <hr>
          <div fxLayout="row" fxLayoutAlign="space-around stretch">
            <mat-card>
              <mat-card-title>Groupe d'actions à réaliser</mat-card-title>
              <mat-card-content *ngIf="competence.niveaux[0]">
                <p>{{competence.niveaux[0].groupeDaction}}</p>
              </mat-card-content>
            </mat-card>
            <hr>
            <mat-card>
              <mat-card-title>Critères d'évaluation</mat-card-title>
              <mat-card-content *ngIf="competence.niveaux[0]">
                <p>{{competence.niveaux[0].criterDevaluation}}</p>
              </mat-card-content>
            </mat-card>
          </div>
          <hr>
        </mat-tab>
        <mat-tab label="{{competence.niveaux[1]?.libelle}}">
          <hr>
          <div fxLayout="row" fxLayoutAlign="space-around stretch">
            <mat-card>
              <mat-card-title>Groupe d'actions à réaliser</mat-card-title>
              <mat-card-content *ngIf="competence.niveaux[1]">
                <p>{{competence.niveaux[1].groupeDaction}}</p>
              </mat-card-content>
            </mat-card>
            <hr>
            <mat-card>
              <mat-card-title>Critères d'évaluation</mat-card-title>
              <mat-card-content *ngIf="competence.niveaux[1]">
                <p>{{competence.niveaux[1].criterDevaluation}}</p>
              </mat-card-content>
            </mat-card>
          </div>
          <hr>
        </mat-tab>
        <mat-tab label="{{competence.niveaux[2]?.libelle}}">
          <hr>
          <div fxLayout="row" fxLayoutAlign="space-around stretch">
            <mat-card>
              <mat-card-title>Groupe d'actions à réaliser</mat-card-title>
              <mat-card-content *ngIf="competence.niveaux[2]">
                <p>{{competence.niveaux[2].groupeDaction}}</p>
              </mat-card-content>
            </mat-card>
            <hr>
            <mat-card>
              <mat-card-title>Critères d'évaluation</mat-card-title>
              <mat-card-content *ngIf="competence.niveaux[2]">
                <p>{{competence.niveaux[2].criterDevaluation}}</p>
              </mat-card-content>
            </mat-card>
          </div>
          <hr>
        </mat-tab>
      </mat-tab-group>
</mat-card>

































































