<div
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="20px"
>
    <div fxFlex="100">
        <div style="background-color:#f44336;padding: 12px; border-radius: 4px">
            <h1>Liste des groupes de compétences</h1>
            <div
                fxLayout="row"
                fxLayoutAlign="end center"
            >
                <button
                    mat-flat-button
                    style="color: #f44336"
                    routerLink="/home/addGrpCompetences/0"
                    class="mat-elevation-z6"
                >
                    add groupe de compétences
                    <mat-icon>device_hub</mat-icon>
                </button>
            </div>
        </div>
        <mat-card
            class="mat-elevation-z8"
            style="border-bottom: 4px #f44336 solid;"
        >
            <div
                class="content"
                fxLayout="row wrap"
                fxLayoutGap="16px grid"
            >
                <div
                    fxFlex="45%"
                    fxFlex.xs="100%"
                    fxFlex.sm="35%"
                    *ngFor="let grp of groupeDeCompetences"
                >
                    <mat-card class="mat-elevation-z4 symbol">
                        <mat-card-content>
                            <div class="titl">
                                <h4>{{grp.libelle}}</h4>
                                <div class="clos">
                                    <button mat-icon-button (click)="editGrpCompetence(grp.id)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button (click)="deleteGrpCompetence(grp.id)">
                                        <mat-icon>cancel</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </mat-card-content>
                        <mat-card-content class="mat-elevation-z3">
                            <mat-card>
                                <h5>{{grp.descriptif}}</h5>
                            </mat-card>
                        </mat-card-content>
                        <mat-card-actions>
                            <div>
                                <mat-accordion>
                                    <mat-expansion-panel
                                        (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false"
                                    >
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                <b>Compétences</b>
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <mat-panel-description *ngFor="let comp of grp.competences">{{comp.libelle}}</mat-panel-description>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                            <br>
                            <mat-accordion>
                                <mat-expansion-panel
                                    (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false"
                                >
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <b>Tags</b>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <mat-panel-description *ngFor="let tag of grp.tags">{{tag.libelle}}</mat-panel-description>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </mat-card>
    </div>

</div>
