mat-tab-group {
  text-align: center;
}
mat-tab-group p {
  padding-top: 20px;
}
a {
  text-decoration: none;
  color: #f44336;
}
h1 {
  color: #FFFFFF;
}
h1:visited {
  background-color: #6CCAF0 !important;
}
h4 {
  color: #f44336;
}

