<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <div  fxFlex="100">
    <div style="background-color:#f44336;padding:12px;border-radius: 4px">
      <h1>Liste des profils</h1>
      <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-flat-button style="color: #f44336" class="mat-elevation-z6">
           <a routerLink="updateProfil/0">add Profil</a>
          <mat-icon>class</mat-icon>
        </button>
      </div>
    </div>
    <mat-card class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="libelle">
          <th mat-header-cell *matHeaderCellDef> Libelle </th>
          <td mat-cell *matCellDef="let profil"> {{profil.libelle}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell class="flex-space-between" *matCellDef="let profil">
            <!-- <a mat-button color="primary" routerLink="listPro/{{profil.id}}/users">
              <mat-icon class="mat-18" >article</mat-icon><small>liste</small>
            </a> -->
            <a mat-button color="primary" (click)="viewProfil(profil.id)">
              <mat-icon class="mat-18" >article</mat-icon><small>view</small>
            </a>
            <a mat-button color="accent" (click)="editProfil(profil.id)">
              <mat-icon class="mat-18">edit</mat-icon><small>modifier</small>
            </a>
            <a mat-button color="warn" (click)="deleteProfil(profil.id)">
              <mat-icon class="mat-18">delete</mat-icon><small>supprimer</small>
            </a>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card>
  </div>
  <!--app-list-profil-users [profilId]="idprofil"></app-list-profil-users-->
  <div fxFlex="30">
    <router-outlet></router-outlet>
  </div>
</div>
<hr>
 <app-footer></app-footer>

