<!--
  <div fxLayout="row" fxLayoutAlign="space-between center" >
    <div fxFlex="100">
      <app-list-profils></app-list-profils>
    </div>
  </div>

  <br>

  <mat-divider></mat-divider>

  <br>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="100">
      <app-list-users></app-list-users>
    </div>
  </div>

  <br>

  <mat-divider></mat-divider>

  <br>

  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="25">
      <div>référentiels</div>
    </mat-card>
  </div>
-->
